In [1]:
import flyshare as fs

print fs.__version__

0.0.15

In [2]:
df = fs.get_hist_data('600519')

print df.head()

              open    high   close     low     volume  price_change  p_change  \
date
2017-11-20  676.80  685.60  679.27  660.00   88305.82        -10.98     -1.59
2017-11-17  696.00  709.00  690.20  677.77  123861.24        -28.91     -4.02
2017-11-16  686.01  719.96  718.80  686.01   60716.32         30.72      4.46
2017-11-15  678.75  689.99  687.98  674.00   45036.33          9.23      1.36
2017-11-14  687.14  687.22  678.87  677.35   46366.71         -9.01     -1.31

                ma5     ma10     ma20     v_ma5    v_ma10    v_ma20  turnover
date
2017-11-20  691.024  676.376  646.688  72857.28  62139.28  59241.66      0.70
2017-11-17  692.748  673.755  641.395  65170.09  58160.09  56014.96      0.99
2017-11-16  690.308  668.652  635.601  55213.56  50592.87  51398.62      0.48
2017-11-15  676.608  659.464  628.791  49798.52  47946.21  50395.74      0.36
2017-11-14  669.088  652.967  622.428  49581.64  47786.10  49102.86      0.37

In [3]:
df = fs.get_hist_data('0700.HK')

print df.head()

                  Open        High         Low       Close   Adj Close  \
Date
2017-01-03  188.000000  191.100006  188.000000  189.399994  188.962357
2017-01-04  190.399994  190.500000  188.100006  189.000000  188.563293
2017-01-05  191.000000  194.199997  190.699997  193.300003  192.853363
2017-01-06  196.199997  196.800003  194.699997  195.100006  194.649200
2017-01-09  196.699997  196.899994  195.199997  195.600006  195.148041

              Volume
Date
2017-01-03   9637272
2017-01-04  11411490
2017-01-05  20543005
2017-01-06  20077760
2017-01-09  13605277

In [4]:
df = fs.get_hist_data('AAPL')

print df.head()

                  Open        High         Low       Close   Adj Close  \
Date
2017-01-03  115.800003  116.330002  114.760002  116.150002  114.311760
2017-01-04  115.849998  116.510002  115.750000  116.019997  114.183815
2017-01-05  115.919998  116.860001  115.809998  116.610001  114.764473
2017-01-06  116.779999  118.160004  116.470001  117.910004  116.043915
2017-01-09  117.949997  119.430000  117.940002  118.989998  117.106812

              Volume
Date
2017-01-03  28781900
2017-01-04  21118100
2017-01-05  22193600
2017-01-06  31751900
2017-01-09  33561900

In [8]:
df = fs.get_hist_data('600519', data_source='tdx')