In [1]:
import flyshare as fs

fs.__version__

'0.0.20'

In [2]:
fs.set_datasource()

Welcome,

Please choose the default data source you want to use:
1. Flyshare
2. Tushare
3. Datareader
4. TDX

0. Quit
 >>  2
Tushare is selected!

In [3]:
df = fs.get_hist_data('600519')

df.head()

         date     open    close     high      low   volume    code
0  2017-01-03  329.299  329.575  331.979  327.851  20763.0  600519
1  2017-01-04  329.634  346.667  346.923  329.615  65257.0  600519
2  2017-01-05  344.785  341.574  346.213  340.293  41704.0  600519
3  2017-01-06  341.475  345.534  354.419  340.943  68095.0  600519
4  2017-01-09  342.618  343.317  347.622  341.377  35405.0  600519

In [5]:
df = fs.get_hist_data('0700.HK')
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,188.000000,191.100006,188.000000,189.399994,188.962357,9637272
2017-01-04,190.399994,190.500000,188.100006,189.000000,188.563293,11411490
2017-01-05,191.000000,194.199997,190.699997,193.300003,192.853363,20543005
2017-01-06,196.199997,196.800003,194.699997,195.100006,194.649200,20077760
2017-01-09,196.699997,196.899994,195.199997,195.600006,195.148041,13605277

In [7]:
df = fs.get_hist_data('AAPL') 
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
2017-01-04,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2017-01-05,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
2017-01-06,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
2017-01-09,117.949997,119.430000,117.940002,118.989998,117.106812,33561900

In [ ]:
df = fs.get_hist_data('600519', data_source='tdx')